<p id="notice"><%= notice %></p>
<table class="table-responsive table-bordered table-striped text-center">
  <%= render 'table_header' %>
  <tbody>
    <% @students.each do |student| %>
      <%= render 'student', student: student %>
    <% end %>
  </tbody>
</table>
  <br>
<%= link_to 'New Student', new_student_path %>
